.card {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
    width: 24rem;
  }
  
  iframe {
    border-bottom: 0.25rem solid #fc0;
    border-radius: 0.25rem 0.25rem 0 0;
    height: 750;
    width: 100%;
  }
